@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600;700&display=swap');
*,*::after,*::before {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif ;
    font-weight: 400;
    color: var();
    margin: 0;
    padding: 0;
}
body {
 --cl--1--:#ffffff;
 --cl--2--:#292f36;
 --cl--3--:#4d5053;
 --cl--4--:#f4f0ec;
 --cl--5--:#cda274;
 --gap--:clamp(1rem, 5vw, 5rem);
 background: var(--cl--1--);
}
img{
    display: flex;
    max-width: 100%;
}
a{
    display: inline-block;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
ul{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'DM Serif Display', serif;
    text-transform: capitalize;
    line-height: 125%;
}

.row{
    display: flex;
}
.flex{
    flex-wrap:wrap;
    gap: var(--gap--);
}
.flex>*{
    flex: 1 1 30rem;
}
.column{
    display: grid;
}
.grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap--);
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
/* Navigation */
header {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap--);
    padding: 1.5rem 0;
}

.logo img {
    object-fit: contain;
    max-height: 35px;
}
.toggleMenu {
    display: none;
}

nav {
    align-items: center;
    gap: var(--gap--);
}
nav a {
    font-size: 1.25rem;
    fill: transparent;
    stroke: var(--cl--2--);
}
nav a:hover {
   color: var(--cl--5--);
   stroke: var(--cl--5--);
}
nav a svg{
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
nav a:hover svg {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
/* End Navigation */

/*hero */
.hero{
    background-image: url(./imgs/f12.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 0 25%;
    -webkit-border-radius: 0 0 0 25%;
    -moz-border-radius: 0 0 0 25%;
    -ms-border-radius: 0 0 0 25%;
    -o-border-radius:0 0 0 25%;
}
.hero .container {
   min-height: clamp(50vh, 100vw, 100vh);
   align-items: center;
   padding: 2rem 0;
}
.hero-content {
    max-width: 550px;
}
h1 {
    font-size: clamp(2rem, 7.5vw, 5rem);
}
p {
    font-size: clamp(0.8rem , 5vm, 1.375rem);
    line-height: 125%;
    color: var(--cl--3--);
}
.hero-content p, 
.cards div p,
.contact-content h2+p { 
    margin: 1.5rem auto;
}

/*page Button */
.page-btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--cl--1--);
    text-transform: capitalize;
    fill: transparent;
    stroke: var(--cl--1--);
    align-items: center;
    gap: 0.25rem;
    background: var(--cl--2--);
    max-width: max-content;
    border: 1px solid var(--cl--2--);
    padding: 0.4rem 1rem;
    border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -ms-border-radius: 10px 0 10px 0;
    -o-border-radius: 10px 0 10px 0;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.page-btn.active {
    color: var(--cl--2--);
    stroke: var(--cl--2--);
    background: transparent;
    padding: 0;
    border: 0;
}
.page-btn:hover {
    color: var(--cl--2--);
    stroke: var(--cl--2--);
    background: transparent;
    border-radius: 0 10px 0 10px;
    -webkit-border-radius: 0 10px 0 10px ;
    -moz-border-radius: 0 10px 0 10px ;
    -ms-border-radius: 0 10px 0 10px ;
    -o-border-radius: 0 10px 0 10px ;
}
/*End Page Button */

/*End Hero */

/* CArds */
.cards div{
    text-align: center;
    border: 1px solid var(--cl--4--);
    padding: 2rem;
    border-radius: 25px;
    -webkit-border-radius: 25px ;
    -moz-border-radius: 25px ;
    -ms-border-radius: 25px ;
    -o-border-radius: 25px ;

}
h4 {
    font-size: clamp(1rem, 4.5vm, 1.6rem);
}

.cards .page-btn{
    margin: 0 auto;
}
/* End CArds */

/* Contact */
.contact {
    flex-wrap: wrap-reverse;
    padding: 4rem 0;
}
.contact-content {
    align-self: center;
}
h2{
    font-size: clamp(1.5rem, 5vw, 3.125rem);
}
.details {
    max-width: max-content;
    text-align: center;
    align-items: center;
    gap: 1rem;
}
.details .row {
    fill: transparent;
    stroke: var(--cl--4--);
    background: var(--cl--4--);
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    transition:  0.5s ease-in-out;
        -webkit-transition:  0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition:  0.5s ease-in-out;
        -o-transition:  0.5s ease-in-out;  
}

.details:hover .row{
    background: var(--cl--5--);
    stroke: var(--cl--4--);
}
.details p{
    text-transform: capitalize;
    margin-top: 0.25rem;
}
.contact-content .page-btn {
    margin-top:1.5rem ;
}
.contact-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 0 50% 0 25%;
    -webkit-border-radius: 0 50% 0 25% ;
    -moz-border-radius: 0 50% 0 25% ;
    -ms-border-radius: 0 50% 0 25% ;
    -o-border-radius: 0 50% 0 25% ;
}
/* End Contact */
/* Media */
@media (min-width:1220px){
    .container {
        max-width: 1160px;
    }
}
@media (max-width:1000px) {
    .toggleMenu {
        display: flex;
        cursor: pointer;
        background-color: transparent;
        background-image: url(C:\Users\SAI\OCTANET_JULY\imgs\open1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        width: 30px;
        height: 30px;
        border: 0;
        z-index: 1000;
        transition: background-size 0.5s ease-in-out;
        -webkit-transition: background-size 0.5s ease-in-out;
        -moz-transition: background-size 0.5s ease-in-out;
        -ms-transition: background-size 0.5s ease-in-out;
        -o-transition: background-size 0.5s ease-in-out;  
    }
    
    .toggleMenu.active {
        position: fixed;
        right: 5%;
        background-image: url(C:\Users\SAI\OCTANET_JULY\imgs\close1.png);
        background-size: 25px;
    }
    nav {
        position: absolute;
        inset: 0;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        min-height: 0;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out; 
    }
    nav :active {
        position: fixed;
        min-height: 100%;
        opacity: 1;
        background: var(--c1--1--);
        z-index: 999;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    
}

/* End Media */